리스트 메소드

In [11]:
a = [1,2,3]

#len() 함수로 리스트에 저장된 데이터의 개수를 얻어온다.
print(len(a))
print('='*80)

# append(데이터) 메소드로 리스트으 맨 뒤에 데이터를 추가한다.
print(a)
a.append(4)
print(a)
print('='*80)

# insert(인덱스, 데이터) 메소드로 리스트의 특정 인덱스 위치에 데이터를 삽입한다.
a.insert(1,5)
print(a)
print('='*80)

# insert() 메소드와 len() 함수를 사용해서 append() 메소드 효과내기
a.insert(-1,999)
print(a)
a.insert(len(a),333)
print(a)

3
================================================================================
[1, 2, 3]
[1, 2, 3, 4]
================================================================================
[1, 5, 2, 3, 4]
================================================================================
[1, 5, 2, 3, 999, 4]
[1, 5, 2, 3, 999, 4, 333]

In [30]:
# sort() 메소드로 리스트에 저장된 데이터를 별도의 설정이 없으면 오름차순(문자열은 가나다순)으로 정렬한다.
a= [1,5,2,3,6,4]
print(a)
a.sort()
print(a)
print('='*80)

b=['d','b','a','c']
print(b)
b.sort()
print(b)
print('='*80)

c=['홍길동','임꺽정','장길산','일지매']
print(c)
c.sort()
print(c)
print('='*80)

d= ['1','010','999','50']
print(d)
d.sort()
print(d)
print('='*80)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
================================================================================
['d', 'b', 'a', 'c']
['a', 'b', 'c', 'd']
================================================================================
['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '임꺽정', '장길산', '홍길동']
================================================================================
['1', '010', '999', '50']
['010', '1', '50', '999']
================================================================================

In [31]:
# sort() 메소드에 reverse=True 옵션을 지정하면 내림차순(문자열은 다나가) 순으로 정렬한다.
a= [1,5,2,3,6,4]
print(a)
a.sort(reverse=True)
print(a)
print('='*80)

b=['d','b','a','c']
print(b)
b.sort(reverse=True)
print(b)
print('='*80)

c=['홍길동','임꺽정','장길산','일지매']
print(c)
c.sort(reverse=True)
print(c)
print('='*80)

d= ['1','010','999','50']
print(d)
d.sort(reverse=True)
print(d)
print('='*80)

[1, 5, 2, 3, 6, 4]
[6, 5, 4, 3, 2, 1]
================================================================================
['d', 'b', 'a', 'c']
['d', 'c', 'b', 'a']
================================================================================
['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '장길산', '임꺽정', '일지매']
================================================================================
['1', '010', '999', '50']
['999', '50', '1', '010']
================================================================================

In [39]:
# reverse=True 옵션이 기억나지 않으면 오름 차순으로 정렬하고 reverse() 메소드로 결과를 뒤집으면된다.
a = [1,5,2,3,6,4]
print(a)
a.sort()
print(a)
a.reverse()
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [44]:
# reverse=True 옵션도 기억나지 않고 reverse() 메소드도 기억나지 않으면[::-1]로 슬라이싱 하면된다.
a=[1,5,2,3,6,4]
print(a)
a.sort()
print(a)
a= a[::-1]
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [45]:
# 정렬할 데이터가 저장된 리스트에 2가지 이상의 데이터 타입이 존재하면 에러가 발생된다.
a = [1,'a',2,'b']
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
# sorted() 함수를 사용해도 리스트에 저장된 데이터의 정렬이 가능하다 .
# sort() 메소드와 sorted() 함수의 차이점은 sort() 메소드는 메소드가 실행되는 리스트의 내용이 수정되고 
# sorted() 함수는 함수가 실행된 결과를 리턴하므로 함수가 실행되는 리스트의 내용이 수정되지 않는다 . 
a = [1,5,2,3,6,4]
print(a)
print(sorted(a))
print(a)
a= sorted(a)
print(a)
a= sorted(a,reverse=True)
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [54]:
# index() 메소드로 리스트의 데이터 요소 중에서 특정 데이터가 최초로 출현하는 인덱스 값을 얻어올 수 있다.
a= [1,2,3,1,3,1,4,1,5]
print(a.index(3))
# 인수로 지정된 데이터가 리스트에 없으면 에러가 발생한다.
print(a.index(6)) # 에러

2

ValueError: 6 is not in list

In [ ]:
# remove() 메소드로 인수로 지정한 첫 번쨰 데이터를 리스트에서 제거한다.